time {
    font-weight: bold;
}
h1 {
    color: crimson;
    font-size: 20px;
    padding: 0;
}
body {
    background: white;
    padding: 0;
    margin: 0;
}
html {
    font-size: 15px;
}
section {
    border: 1px solid crimson;
    padding: 0.5rem 10rem;
    background-image: linear-gradient(to right, crimson, white 5%);
}
