time {
    font-weight: bold;
}
header {
    color: crimson;
    font-size: 20px;
    padding: 0;
}
body {
    background: white;
    padding: 0;
    margin: 0;
}
html {
    font-size: 15px;
}
section {
    border: 1px solid crimson;
    padding: 1rem;
}
